nav{
    display: flex;
    list-style-type: none;
}

nav > div{
    width: 33%;
    text-align: center;
}

.resize img{
    width: 150px;
}

ul{
    display: flex;
    list-style-type: none;

}

a{
    color: white;
    font-size: 14pt;
    padding: 20px;
    text-decoration: none;
    font-family: arial, sans-serif;
}

p a{
    color: black;
}
.button{

    display: inline-block;
    background: red;
    color: black;
    border-radius: 17px;
    font-size: 20px;
    font-weight: bold;
}